<h2>Latest posts:</h2>
<br />
<% @results.each do |post| %>
	<p>
		<h4>Author: <%= post['username'] %></h4>
		<br />
		<%= post['content'] %>
		<br />
		<br />
		added at <%= post['created_date'] %>
		<br />
		<br />
		<a href="/details/<%= post['id'] %>">Comments</a>
	</p>
	<hr />
<% end %>

